<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ ('dist/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ ('dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ ('dist/css/styles.css') }}" />
        {% endblock %}
    </head>
    
    <body>
        <img id="logo" src="pictures/logo.gif" alt="logo du site"/>
        <div id="homeNav">
            <ul class="nav nav-pills nav-fill">
                <li id="li1" class="nav-item">
                    <a class="nav-link" href="countries">Countries</a>
                </li>
                <li id="li2" class="nav-item">
                    <a class="nav-link" href="cities">Cities</a>
                </li>
                <li id="li3" class="nav-item">
                    <a class="nav-link" href="types">Types</a>
                </li>
                <li id="li4" class="nav-item">
                    <a class="nav-link" href="#">User</a>
                    
                </li>
            </ul>
        </div>
    </body>
    {% block body %}{% endblock %}
</html>
