{% extends 'base.html.twig' %}

{% block body %}
<form action="checkout" method="POST">
	<script
	  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	  data-key="pk_test_jLKK1NFImPeoJm9q6y85K7Wp"
	  data-amount="500"
	  data-name="Restonline"
	  data-description="The bill"
	  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	  data-locale="auto"
	  data-currency="eur">
	</script>
</form>
	
{% endblock %}

